.App {
  text-align: center;
}

body{
  background-image: url('./assets/images/homer.jpg');
  background-size: cover;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ubahwarnaBlue {
  color:blue
}
.ubahwarnaRed {
  color: red
}

.navbar{
  background-color: #162955;
  font-family: Monospace;
  
}

a{
  color : white;
  text-decoration: none;
}
.dropdown-menu{
  background-color:#4E506D;
}
.pad{
  float: left;
  width: 500px;
}

.Red{
  color: red;
}